In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
train=pd.read_csv("train.csv")
train.columns

Index(['index', 'QaA', 'QaE', 'QbA', 'QbE', 'QcA', 'QcE', 'QdA', 'QdE', 'QeA',
       'QeE', 'QfA', 'QfE', 'QgA', 'QgE', 'QhA', 'QhE', 'QiA', 'QiE', 'QjA',
       'QjE', 'QkA', 'QkE', 'QlA', 'QlE', 'QmA', 'QmE', 'QnA', 'QnE', 'QoA',
       'QoE', 'QpA', 'QpE', 'QqA', 'QqE', 'QrA', 'QrE', 'QsA', 'QsE', 'QtA',
       'QtE', 'age_group', 'education', 'engnat', 'familysize', 'gender',
       'hand', 'married', 'race', 'religion', 'tp01', 'tp02', 'tp03', 'tp04',
       'tp05', 'tp06', 'tp07', 'tp08', 'tp09', 'tp10', 'urban', 'voted',
       'wf_01', 'wf_02', 'wf_03', 'wr_01', 'wr_02', 'wr_03', 'wr_04', 'wr_05',
       'wr_06', 'wr_07', 'wr_08', 'wr_09', 'wr_10', 'wr_11', 'wr_12', 'wr_13'],
      dtype='object')

In [4]:
data=pd.read_csv("data.csv")
data.columns

Index(['Unnamed: 0', 'QaA', 'QaE', 'QbA', 'QbE', 'QcA', 'QcE', 'QdA', 'QdE',
       'QeA', 'QeE', 'QfA', 'QfE', 'QgA', 'QgE', 'QhA', 'QhE', 'QiA', 'QiE',
       'QjA', 'QjE', 'QkA', 'QkE', 'QlA', 'QlE', 'QmA', 'QmE', 'QnA', 'QnE',
       'QoA', 'QoE', 'QpA', 'QpE', 'QqA', 'QqE', 'QrA', 'QrE', 'QsA', 'QsE',
       'QtA', 'QtE', 'age_group', 'education', 'engnat', 'familysize',
       'gender', 'hand', 'married', 'race', 'religion', 'tp01', 'tp02', 'tp03',
       'tp04', 'tp05', 'tp06', 'tp07', 'tp08', 'tp09', 'tp10', 'urban',
       'wf_01', 'wf_02', 'wf_03', 'wr_01', 'wr_02', 'wr_03', 'wr_04', 'wr_05',
       'wr_06', 'wr_07', 'wr_08', 'wr_09', 'wr_10', 'wr_11', 'wr_12', 'wr_13'],
      dtype='object')

In [8]:
train.groupby(['married', 'gender'])['voted'].value_counts().unstack()

voted              1      2
married gender
0       Female    15     30
        Male      15     33
1       Female  4971   8845
        Male    6716  11018
2       Female  3359   1603
        Male    3346   1751
3       Female  1469   1023
        Male     743    595

0 : other                 == voted1 < voted2

1 : Never married         == voted1 < voted2  

2 : Currently married     == voted1 > voted2

3 : Previously married    == voted1 > voted2

In [10]:
train.groupby(['married', 'age_group'])['voted'].value_counts().unstack()

voted                   1        2
married age_group
0       10s           3.0     37.0
        20s           8.0     11.0
        30s           6.0      4.0
        40s           7.0      9.0
        50s           2.0      2.0
        60s           4.0      NaN
1       +70s          8.0      6.0
        10s        2279.0  11796.0
        20s        6462.0   5855.0
        30s        1990.0   1549.0
        40s         643.0    443.0
        50s         231.0    176.0
        60s          74.0     38.0
2       +70s        103.0     33.0
        10s          24.0     49.0
        20s         896.0    599.0
        30s        2096.0   1200.0
        40s        1921.0    841.0
        50s        1121.0    454.0
        60s         544.0    178.0
3       +70s         62.0     23.0
        10s           8.0     19.0
        20s         118.0    163.0
        30s         522.0    469.0
        40s         672.0    515.0
        50s         582.0    321.0
        60s         248.0    108.0

1 : Never married == 10s voted2(x5) / rest voted1

2 : Currently married == 10s voted2(x2) / rest voted1

3 : Previously married == 10s 20s voted2(x2) / rest voted1

In [5]:
data['Extraversion']=round((data.tp01+data.tp06)/2)
data['Agreeableness']=round((data.tp02+data.tp07)/2)
data['Conscientiousness']=round((data.tp03+data.tp08)/2)
data['Emotional Stability']=round((data.tp04+data.tp09)/2)
data['Openness to Experiences']=round((data.tp05+data.tp10)/2)

In [6]:
data.groupby(['hand', 'education'])['Extraversion'].value_counts(normalize=True).unstack()

Extraversion         0.0       1.0       2.0       3.0       4.0       5.0  \
hand education
1    1          0.020934  0.050760  0.392738  0.299741  0.209522  0.012227
     2          0.017091  0.049074  0.403088  0.296422  0.211024  0.010881
     3          0.016048  0.042036  0.387964  0.307485  0.222814  0.012216
     4          0.021950  0.045616  0.379902  0.315537  0.212530  0.011890
2    1          0.017192  0.040115  0.363897  0.312321  0.233524  0.015759
     2          0.019077  0.042591  0.392192  0.310115  0.210736  0.011091
     3          0.018445  0.045862  0.376371  0.312064  0.229312  0.009472
     4          0.030601  0.032787  0.366120  0.313661  0.230601  0.014208
3    1          0.026403  0.039604  0.356436  0.310231  0.237624  0.016502
     2          0.033776  0.048251  0.390832  0.290712  0.226779  0.006031
     3          0.030717  0.044369  0.370307  0.284983  0.235495  0.018771
     4          0.028674  0.060932  0.387097  0.301075  0.197133  0.007168

Extraversion         6.0       7.0
hand education
1    1          0.010189  0.003890
     2          0.007639  0.004781
     3          0.007186  0.004251
     4          0.007431  0.005145
2    1          0.011461  0.005731
     2          0.009317  0.004880
     3          0.004985  0.003490
     4          0.005464  0.006557
3    1          0.009901  0.003300
     2          0.002413  0.001206
     3          0.008532  0.006826
     4          0.010753  0.007168

In [7]:
data.groupby(['hand', 'education'])['Agreeableness'].value_counts(normalize=True).unstack()

Agreeableness        0.0       1.0       2.0       3.0       4.0       5.0  \
hand education
1    1          0.058725  0.107818  0.474250  0.180622  0.156539  0.007966
     2          0.061054  0.123317  0.467275  0.175468  0.151014  0.009177
     3          0.065808  0.122096  0.452216  0.183952  0.154012  0.009401
     4          0.062536  0.109866  0.442437  0.198125  0.165085  0.008803
2    1          0.050143  0.094556  0.458453  0.202006  0.161891  0.012894
     2          0.058563  0.112689  0.447649  0.182786  0.172138  0.010648
     3          0.058325  0.123131  0.443170  0.204387  0.151545  0.006979
     4          0.069945  0.104918  0.425137  0.204372  0.175956  0.004372
3    1          0.085809  0.089109  0.438944  0.191419  0.171617  0.013201
     2          0.053076  0.091677  0.463209  0.202654  0.166466  0.010856
     3          0.063140  0.093857  0.423208  0.191126  0.192833  0.011945
     4          0.060932  0.118280  0.397849  0.236559  0.172043  0.003584

Agreeableness        6.0       7.0
hand education
1    1          0.009077  0.005002
     2          0.007364  0.005331
     3          0.007425  0.005090
     4          0.007660  0.005488
2    1          0.011461  0.008596
     2          0.010204  0.005324
     3          0.008475  0.003988
     4          0.009836  0.005464
3    1          0.006601  0.003300
     2          0.010856  0.001206
     3          0.017065  0.006826
     4          0.003584  0.007168

In [8]:
data.groupby(['hand', 'education'])['Conscientiousness'].value_counts(normalize=True).unstack()

Conscientiousness       0.0       1.0       2.0       3.0       4.0       5.0  \
hand education
1    1             0.039459  0.078918  0.431827  0.239533  0.186736  0.009633
     2             0.032368  0.066165  0.416717  0.268396  0.190691  0.010991
     3             0.023772  0.056766  0.385509  0.306347  0.202814  0.011677
     4             0.021836  0.050303  0.369841  0.335544  0.195839  0.011318
2    1             0.027221  0.068768  0.421203  0.253582  0.204871  0.008596
     2             0.026619  0.066105  0.428571  0.272405  0.188997  0.007098
     3             0.024925  0.056830  0.383350  0.303091  0.206381  0.012463
     4             0.022951  0.057923  0.377049  0.302732  0.215301  0.009836
3    1             0.046205  0.092409  0.415842  0.250825  0.155116  0.006601
     2             0.060314  0.088058  0.420989  0.249698  0.165259  0.008444
     3             0.032423  0.063140  0.385666  0.298635  0.192833  0.006826
     4             0.028674  0.060932  0.344086  0.326165  0.211470  0.010753

Conscientiousness       6.0       7.0
hand education
1    1             0.008522  0.005372
     2             0.009177  0.005495
     3             0.008263  0.004850
     4             0.010175  0.005145
2    1             0.010029  0.005731
     2             0.005768  0.004437
     3             0.009472  0.003490
     4             0.008743  0.005464
3    1             0.029703  0.003300
     2             0.006031  0.001206
     3             0.011945  0.008532
     4             0.014337  0.003584

In [9]:
data.groupby(['hand', 'education'])['Emotional Stability'].value_counts(normalize=True).unstack()

Emotional Stability       0.0       1.0       2.0       3.0       4.0  \
hand education
1    1               0.022230  0.048166  0.422749  0.280845  0.194331
     2               0.020498  0.055943  0.422157  0.289443  0.187448
     3               0.020778  0.053533  0.436228  0.291796  0.177904
     4               0.022408  0.057734  0.418544  0.307077  0.173545
2    1               0.022923  0.054441  0.398281  0.270774  0.223496
     2               0.019077  0.052795  0.425909  0.285271  0.189441
     3               0.019940  0.052343  0.438185  0.298106  0.172981
     4               0.018579  0.045902  0.452459  0.269945  0.194536
3    1               0.033003  0.052805  0.326733  0.280528  0.273927
     2               0.030157  0.051870  0.390832  0.336550  0.174910
     3               0.018771  0.039249  0.343003  0.344710  0.221843
     4               0.032258  0.032258  0.326165  0.412186  0.164875

Emotional Stability       5.0       6.0       7.0
hand education
1    1               0.013709  0.012412  0.005558
     2               0.011540  0.007364  0.005605
     3               0.009341  0.005389  0.005030
     4               0.010061  0.004916  0.005716
2    1               0.021490  0.002865  0.005731
     2               0.012422  0.009317  0.005768
     3               0.008973  0.005484  0.003988
     4               0.010929  0.002186  0.005464
3    1               0.009901  0.019802  0.003300
     2               0.009650  0.004825  0.001206
     3               0.013652  0.010239  0.008532
     4               0.017921  0.007168  0.007168

In [10]:
data.groupby(['hand', 'education'])['Openness to Experiences'].value_counts(normalize=True).unstack()

Openness to Experiences       0.0       1.0       2.0       3.0       4.0  \
hand education
1    1                   0.034642  0.042608  0.331419  0.280474  0.272879
     2                   0.025444  0.038413  0.341595  0.304116  0.257900
     3                   0.023353  0.044371  0.344790  0.331198  0.229042
     4                   0.024694  0.039213  0.347891  0.337830  0.224420
2    1                   0.032951  0.035817  0.275072  0.282235  0.332378
     2                   0.023514  0.039929  0.324312  0.304348  0.270186
     3                   0.029910  0.038385  0.324526  0.325523  0.253240
     4                   0.028415  0.039344  0.315847  0.354098  0.232787
3    1                   0.029703  0.046205  0.303630  0.287129  0.293729
     2                   0.028951  0.025332  0.266586  0.407720  0.235223
     3                   0.022184  0.029010  0.245734  0.383959  0.278157
     4                   0.010753  0.025090  0.275986  0.397849  0.247312

Openness to Experiences       5.0       6.0       7.0
hand education
1    1                   0.019081  0.013524  0.005372
     2                   0.016486  0.010441  0.005605
     3                   0.013473  0.008683  0.005090
     4                   0.012804  0.007088  0.006059
2    1                   0.020057  0.011461  0.010029
     2                   0.019521  0.011535  0.006655
     3                   0.014955  0.008973  0.004487
     4                   0.013115  0.009836  0.006557
3    1                   0.029703  0.006601  0.003300
     2                   0.020507  0.014475  0.001206
     3                   0.018771  0.015358  0.006826
     4                   0.003584  0.032258  0.007168

왼손잡이 교육수준 높은 사람들일수록 creative할 것 같았지만 아니었다.

In [20]:
data.groupby(['hand'])['education'].value_counts(normalize=True).unstack()

education         1         2         3         4
hand
1          0.110069  0.371049  0.340524  0.178357
2          0.118849  0.383790  0.341563  0.155798
3          0.151728  0.415123  0.293440  0.139710

3 양손잡이로 갈수록 교육 수준이 1 오른손잡이, 2 왼손잡이 들보다 낮은쪽에 분포를 많이한다. 

-> 양손잡이들은 교육보다 예술쪽을 많이 하지 않을까?

In [27]:
df=train.groupby(['race','religion'])['voted'].value_counts(normalize=True).unstack()

In [28]:
df.to_csv("race_religion.csv")