In [102]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set()

In [103]:
train = pd.read_csv('C:/Users/nyc15/Desktop/data/train.csv')
test = pd.read_csv('C:/Users/nyc15/Desktop/data/test_x.csv')

In [104]:
y = train.voted.copy()
train = train.drop(columns = 'voted')
raw_data = pd.concat([train,test])

In [105]:
raw_data = raw_data.reset_index()
raw_data.drop(columns = ['level_0','index'],inplace= True)
raw_data= raw_data.reset_index()

In [106]:
raw_data.shape,y.shape

((56915, 77), (45532,))

In [109]:
raw_data = raw_data.drop(index= raw_data[raw_data.familysize >=100].index) # 가족 사이즈 3개 열 (2147483647 , 999 , 100) 제거

In [110]:
raw_data.shape

(56912, 77)

In [111]:
raw_data[raw_data.familysize >=100]

Empty DataFrame
Columns: [index, QaA, QaE, QbA, QbE, QcA, QcE, QdA, QdE, QeA, QeE, QfA, QfE, QgA, QgE, QhA, QhE, QiA, QiE, QjA, QjE, QkA, QkE, QlA, QlE, QmA, QmE, QnA, QnE, QoA, QoE, QpA, QpE, QqA, QqE, QrA, QrE, QsA, QsE, QtA, QtE, age_group, education, engnat, familysize, gender, hand, married, race, religion, tp01, tp02, tp03, tp04, tp05, tp06, tp07, tp08, tp09, tp10, urban, wf_01, wf_02, wf_03, wr_01, wr_02, wr_03, wr_04, wr_05, wr_06, wr_07, wr_08, wr_09, wr_10, wr_11, wr_12, wr_13]
Index: []

[0 rows x 77 columns]

In [112]:
raw_data.corr()['education'][raw_data.corr()['education'].abs()>0.2]

education    1.000000
married      0.241386
wr_03        0.215425
Name: education, dtype: float64

## 1=Less than high school, 2=High school, 3=University degree, 4=Graduate degree, 0=무응답

In [113]:
raw_data.education.value_counts()

2    21068
3    19025
4     9817
1     6352
0      650
Name: education, dtype: int64

# education과 상관계수가 높은 데이터 컬럼 몇개 뽑아서 랜덤으로 넣자!
# 랜덤 확률은 컬럼에서 데이터 개수가 많은 게 확률이 높게 지정한다! 
# 연령 0.444194 결혼 유무 0.260888 모국어 여부 0.140881

In [114]:
raw_data.shape

(56912, 77)

In [115]:
educationdata = raw_data['education'].copy()

In [116]:
(educationdata == 0).sum()

650

In [117]:
raw_data.columns

Index(['index', 'QaA', 'QaE', 'QbA', 'QbE', 'QcA', 'QcE', 'QdA', 'QdE', 'QeA',
       'QeE', 'QfA', 'QfE', 'QgA', 'QgE', 'QhA', 'QhE', 'QiA', 'QiE', 'QjA',
       'QjE', 'QkA', 'QkE', 'QlA', 'QlE', 'QmA', 'QmE', 'QnA', 'QnE', 'QoA',
       'QoE', 'QpA', 'QpE', 'QqA', 'QqE', 'QrA', 'QrE', 'QsA', 'QsE', 'QtA',
       'QtE', 'age_group', 'education', 'engnat', 'familysize', 'gender',
       'hand', 'married', 'race', 'religion', 'tp01', 'tp02', 'tp03', 'tp04',
       'tp05', 'tp06', 'tp07', 'tp08', 'tp09', 'tp10', 'urban', 'wf_01',
       'wf_02', 'wf_03', 'wr_01', 'wr_02', 'wr_03', 'wr_04', 'wr_05', 'wr_06',
       'wr_07', 'wr_08', 'wr_09', 'wr_10', 'wr_11', 'wr_12', 'wr_13'],
      dtype='object')

In [118]:
# 연령대 -> 영어 -> 결혼 
zerodata = raw_data[raw_data['education']==0].copy()
nonzerodata = raw_data[raw_data['education'] != 0].copy()

In [119]:
groupnon = nonzerodata.groupby(['age_group','married','education']).size()
groupnon.head()

age_group  married  education
+70s       0        4            1
           1        1            2
                    2            6
                    3            4
                    4            6
dtype: int64

In [120]:
groupall = nonzerodata.groupby(['age_group','married']).size()
groupall

age_group  married
+70s       0              1
           1             18
           2            177
           3            103
10s        0             52
           1          17496
           2             93
           3             31
20s        0             22
           1          15245
           2           1873
           3            356
30s        0             16
           1           4361
           2           4042
           3           1203
40s        0             19
           1           1350
           2           3366
           3           1482
50s        0              4
           1            494
           2           1908
           3           1104
60s        0              5
           1            136
           2            865
           3            440
dtype: int64

In [121]:
groupper = groupnon / groupall
groupper # '+70s'

age_group  married  education
+70s       0        4            1.000000
           1        1            0.111111
                    2            0.333333
                    3            0.222222
                    4            0.333333
                                   ...
60s        2        4            0.337572
           3        1            0.015909
                    2            0.313636
                    3            0.350000
                    4            0.320455
Length: 104, dtype: float64

In [122]:
groupper.index

MultiIndex([('+70s', 0, 4),
            ('+70s', 1, 1),
            ('+70s', 1, 2),
            ('+70s', 1, 3),
            ('+70s', 1, 4),
            ('+70s', 2, 1),
            ('+70s', 2, 2),
            ('+70s', 2, 3),
            ('+70s', 2, 4),
            ('+70s', 3, 1),
            ...
            ( '60s', 1, 3),
            ( '60s', 1, 4),
            ( '60s', 2, 1),
            ( '60s', 2, 2),
            ( '60s', 2, 3),
            ( '60s', 2, 4),
            ( '60s', 3, 1),
            ( '60s', 3, 2),
            ( '60s', 3, 3),
            ( '60s', 3, 4)],
           names=['age_group', 'married', 'education'], length=104)

In [123]:
num = len(zerodata)
na = []
for i in range(num):
    ll = list(zerodata[['age_group','married']].values[i])
    
    try:
        per = list(groupper[ll[0],ll[1]].values)
        number = list(groupper[ll[0],ll[1]].index)
    except Exception as e:
        print(i, e)
        per = [0.25,0.25,0.25,0.25]
        number = [1,2,3,4]
    na.append(np.random.choice(number,p=per))
    
zerodata['education'][zerodata['education'] == 0] = na
#zerodata[['age_group','engnat','married']].values

In [124]:
zerodata['education'].value_counts(),len(zerodata['education'])

(3    234
 2    224
 4    132
 1     60
 Name: education, dtype: int64,
 650)

In [125]:
datas = pd.concat([zerodata,nonzerodata])
datas.shape

(56912, 77)

In [126]:
datas['education'].value_counts()

2    21292
3    19259
4     9949
1     6412
Name: education, dtype: int64