In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test_x.csv')

print(train.shape)
print(test.shape)

(45532, 78)
(11383, 77)

In [3]:
split_point = train.shape[0]
data = pd.concat([train.drop('voted',axis=1),test],ignore_index=True)
data.shape

(56915, 77)

In [4]:
personal_cols =['age_group','education','engnat','familysize','gender','hand','married','race','religion','urban']
Personal_info = data[personal_cols].copy()

In [5]:
no_reply=Personal_info[Personal_info['engnat']==0]
no_reply=pd.DataFrame(no_reply)
no_reply=no_reply.drop("engnat", axis=1)
no_reply

,age_group,education,familysize,gender,hand,married,race,religion,urban
281,20s,2,2,Male,1,1,White,Atheist,2
931,40s,4,2,Female,1,1,White,Christian_Protestant,2
967,10s,2,2,Female,1,1,White,Christian_Other,3
1777,20s,2,3,Male,1,2,White,Other,2
1930,30s,4,1,Male,1,1,Asian,Agnostic,3
...,...,...,...,...,...,...,...,...,...
55794,50s,4,5,Female,1,3,Black,Christian_Protestant,3
55920,10s,1,3,Male,1,0,Black,Christian_Other,3
55943,20s,3,2,Female,1,1,Asian,Christian_Protestant,2
56319,50s,2,5,Female,1,2,White,Christian_Other,2
56325,10s,2,2,Male,1,1,Asian,Christian_Catholic,3

In [6]:
no_reply['index']=Personal_info[Personal_info['engnat']==0].index
no_reply

,age_group,education,familysize,gender,hand,married,race,religion,urban,index
281,20s,2,2,Male,1,1,White,Atheist,2,281
931,40s,4,2,Female,1,1,White,Christian_Protestant,2,931
967,10s,2,2,Female,1,1,White,Christian_Other,3,967
1777,20s,2,3,Male,1,2,White,Other,2,1777
1930,30s,4,1,Male,1,1,Asian,Agnostic,3,1930
...,...,...,...,...,...,...,...,...,...,...
55794,50s,4,5,Female,1,3,Black,Christian_Protestant,3,55794
55920,10s,1,3,Male,1,0,Black,Christian_Other,3,55920
55943,20s,3,2,Female,1,1,Asian,Christian_Protestant,2,55943
56319,50s,2,5,Female,1,2,White,Christian_Other,2,56319
56325,10s,2,2,Male,1,1,Asian,Christian_Catholic,3,56325

In [7]:
reply=Personal_info[Personal_info['engnat']!=0]
reply=pd.DataFrame(reply)
reply_eng=reply.drop("engnat", axis=1)
reply_eng

,age_group,education,familysize,gender,hand,married,race,religion,urban
0,30s,2,4,Female,1,3,White,Other,1
1,20s,4,3,Female,1,1,Asian,Hindu,3
2,30s,3,3,Male,1,2,White,Other,2
3,20s,4,0,Female,1,1,Asian,Hindu,3
4,20s,3,2,Male,1,2,White,Agnostic,1
...,...,...,...,...,...,...,...,...,...
56910,20s,3,3,Female,1,1,Other,Christian_Catholic,0
56911,10s,2,1,Female,1,1,Asian,Agnostic,2
56912,30s,4,4,Male,1,2,White,Atheist,1
56913,40s,2,3,Female,1,2,White,Atheist,2
56914,20s,4,2,Female,1,1,Asian,Christian_Other,3

In [8]:
reply['index']=Personal_info[Personal_info['engnat']!=0].index

In [9]:
reply

,age_group,education,engnat,familysize,gender,hand,married,race,religion,urban,index
0,30s,2,1,4,Female,1,3,White,Other,1,0
1,20s,4,2,3,Female,1,1,Asian,Hindu,3,1
2,30s,3,1,3,Male,1,2,White,Other,2,2
3,20s,4,2,0,Female,1,1,Asian,Hindu,3,3
4,20s,3,1,2,Male,1,2,White,Agnostic,1,4
...,...,...,...,...,...,...,...,...,...,...,...
56910,20s,3,2,3,Female,1,1,Other,Christian_Catholic,0,56910
56911,10s,2,2,1,Female,1,1,Asian,Agnostic,2,56911
56912,30s,4,1,4,Male,1,2,White,Atheist,1,56912
56913,40s,2,1,3,Female,1,2,White,Atheist,2,56913
56914,20s,4,2,2,Female,1,1,Asian,Christian_Other,3,56914

In [33]:
idx=list(Personal_info[Personal_info['engnat']==0].index)

In [13]:
no_reply=no_reply.reset_index()

In [14]:
no_reply[no_reply['index']==51029]

,level_0,age_group,education,familysize,gender,hand,married,race,religion,urban,index
83,51029,20s,3,2,Female,2,1,White,Other,2,51029

In [15]:
'''
compare=[1,1,1,1,1,2,1,1,1,1,2,1,0,1,1,1,0,0,2,1,1,0,0,1,0,2,0,1,1,1,0,1,2,2,1,1,0,1,0,1,1,2,0,0,2,0,0,0,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,1,1,1,1,0,1,2,1,0,1]
for j in range(83,94):
    print(no_reply.iloc[j]["index"])
    cnt1=0
    cnt2=0
    for i in range(56821):  
        cnt=0
        for k in range(9):
            if reply_eng.iloc[i].iloc[k]==no_reply.iloc[j].iloc[k]:
                cnt+=1
        if cnt==9:
            if reply.iloc[i]['engnat']==1:
                cnt1+=1
            else:
                cnt2+=1
            print(cnt1, cnt2, i)
    if cnt1>cnt2:
        compare.append(1)
    elif cnt1<cnt2:
        compare.append(2)
    else:
        compare.append(0)'''

51029
52472
53127
53756
54667
54708
55794
55920
55943
56319

KeyboardInterrupt:

In [10]:
compare=[1,1,1,1,1,2,1,1,1,1,2,1,0,1,1,1,0,0,2,1,1,0,0,1,0,2,0,1,1,1,0,1,2,2,1,1,0,1,0,1,1,2,0,0,2,0,0,0,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,1,1,1,1,0,1,2,1,0,1,0,0,0,0,0,0,0,0,0,0,0]

In [11]:
len(compare)

94

In [12]:
no_reply['engnat']=compare

In [13]:
no_reply

,age_group,education,familysize,gender,hand,married,race,religion,urban,index,engnat
281,20s,2,2,Male,1,1,White,Atheist,2,281,1
931,40s,4,2,Female,1,1,White,Christian_Protestant,2,931,1
967,10s,2,2,Female,1,1,White,Christian_Other,3,967,1
1777,20s,2,3,Male,1,2,White,Other,2,1777,1
1930,30s,4,1,Male,1,1,Asian,Agnostic,3,1930,1
...,...,...,...,...,...,...,...,...,...,...,...
55794,50s,4,5,Female,1,3,Black,Christian_Protestant,3,55794,0
55920,10s,1,3,Male,1,0,Black,Christian_Other,3,55920,0
55943,20s,3,2,Female,1,1,Asian,Christian_Protestant,2,55943,0
56319,50s,2,5,Female,1,2,White,Christian_Other,2,56319,0
56325,10s,2,2,Male,1,1,Asian,Christian_Catholic,3,56325,0

In [14]:
new_data=pd.concat([reply, no_reply])
new_data=new_data.sort_values(by=['index'])
new_data=new_data.drop('index', axis=1)
new_data['engnat'].value_counts()

C:\Users\msi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

1    41348
2    15532
0       35
Name: engnat, dtype: int64

In [15]:
new_data

,age_group,education,engnat,familysize,gender,hand,married,race,religion,urban
0,30s,2,1,4,Female,1,3,White,Other,1
1,20s,4,2,3,Female,1,1,Asian,Hindu,3
2,30s,3,1,3,Male,1,2,White,Other,2
3,20s,4,2,0,Female,1,1,Asian,Hindu,3
4,20s,3,1,2,Male,1,2,White,Agnostic,1
...,...,...,...,...,...,...,...,...,...,...
56910,20s,3,2,3,Female,1,1,Other,Christian_Catholic,0
56911,10s,2,2,1,Female,1,1,Asian,Agnostic,2
56912,30s,4,1,4,Male,1,2,White,Atheist,1
56913,40s,2,1,3,Female,1,2,White,Atheist,2
56914,20s,4,2,2,Female,1,1,Asian,Christian_Other,3

In [16]:
no_reply=new_data[new_data['engnat']==0]
no_reply=pd.DataFrame(no_reply)
no_reply_drop=no_reply.drop(["engnat", "familysize", "married", "hand"], axis=1)
no_reply_drop

      age_group  education  gender   race              religion  urban
6727        10s          1    Male  White    Christian_Catholic      0
8331        40s          2  Female  White               Atheist      3
9713        30s          3    Male   Arab              Buddhist      2
12024       10s          2    Male  White       Christian_Other      3
12371       50s          3  Female  Other  Christian_Protestant      3
13841       40s          4    Male  White    Christian_Catholic      1
14404       60s          2  Female  White                Jewish      2
15617      +70s          3    Male  Asian              Agnostic      3
19939       30s          2    Male  Other                 Other      2
22363       20s          3  Female  Asian    Christian_Catholic      2
29528       40s          2    Male  Other       Christian_Other      2
30076       40s          0    Male  White    Christian_Catholic      2
30746       20s          3  Female  White              Agnostic      0
31027       20s          2    Male  White               Atheist      2
31592       50s          4  Female  White              Agnostic      1
33682       20s          3    Male  White    Christian_Catholic      1
39474       20s          4  Female  White               Atheist      3
39961       30s          2    Male  Asian              Agnostic      3
41754       10s          3    Male  Black                Muslim      2
43784       20s          4    Male  Black       Christian_Other      3
44327       10s          2  Female  Other       Christian_Other      3
44421       60s          3  Female  White              Agnostic      0
47188       10s          1    Male  Other              Agnostic      1
48729       60s          3    Male  White  Christian_Protestant      0
51029       20s          3  Female  White                 Other      2
52472       30s          3  Female  White                 Other      3
53127       20s          2    Male  Asian                 Hindu      3
53756       30s          4    Male  Asian                 Other      3
54667       10s          2    Male  White  Christian_Protestant      2
54708       60s          3  Female  White               Atheist      3
55794       50s          4  Female  Black  Christian_Protestant      3
55920       10s          1    Male  Black       Christian_Other      3
55943       20s          3  Female  Asian  Christian_Protestant      2
56319       50s          2  Female  White       Christian_Other      2
56325       10s          2    Male  Asian    Christian_Catholic      3

In [17]:
no_reply['index']=no_reply.index

In [18]:
no_reply

,age_group,education,engnat,familysize,gender,hand,married,race,religion,urban,index
6727,10s,1,0,3,Male,1,1,White,Christian_Catholic,0,6727
8331,40s,2,0,1,Female,1,3,White,Atheist,3,8331
9713,30s,3,0,2,Male,1,1,Arab,Buddhist,2,9713
12024,10s,2,0,0,Male,1,1,White,Christian_Other,3,12024
12371,50s,3,0,6,Female,1,2,Other,Christian_Protestant,3,12371
13841,40s,4,0,3,Male,1,2,White,Christian_Catholic,1,13841
14404,60s,2,0,3,Female,1,1,White,Jewish,2,14404
15617,+70s,3,0,8,Male,1,2,Asian,Agnostic,3,15617
19939,30s,2,0,10,Male,3,1,Other,Other,2,19939
22363,20s,3,0,7,Female,1,1,Asian,Christian_Catholic,2,22363
29528,40s,2,0,2,Male,1,3,Other,Christian_Other,2,29528
30076,40s,0,0,2,Male,3,3,White,Christian_Catholic,2,30076
30746,20s,3,0,3,Female,1,1,White,Agnostic,0,30746
31027,20s,2,0,0,Male,1,1,White,Atheist,2,31027
31592,50s,4,0,4,Female,1,2,White,Agnostic,1,31592
33682,20s,3,0,4,Male,1,1,White,Christian_Catholic,1,33682
39474,20s,4,0,3,Female,1,1,White,Atheist,3,39474
39961,30s,2,0,2,Male,1,1,Asian,Agnostic,3,39961
41754,10s,3,0,3,Male,1,1,Black,Muslim,2,41754
43784,20s,4,0,2,Male,1,1,Black,Christian_Other,3,43784
44327,10s,2,0,2,Female,2,1,Other,Christian_Other,3,44327
44421,60s,3,0,3,Female,1,2,White,Agnostic,0,44421
47188,10s,1,0,1,Male,1,1,Other,Agnostic,1,47188
48729,60s,3,0,2,Male,1,2,White,Christian_Protestant,0,48729
51029,20s,3,0,2,Female,2,1,White,Other,2,51029
52472,30s,3,0,2,Female,1,3,White,Other,3,52472
53127,20s,2,0,2,Male,1,1,Asian,Hindu,3,53127
53756,30s,4,0,1,Male,1,2,Asian,Other,3,53756
54667,10s,2,0,2,Male,1,1,White,Christian_Protestant,2,54667
54708,60s,3,0,11,Female,1,3,White,Atheist,3,54708
55794,50s,4,0,5,Female,1,3,Black,Christian_Protestant,3,55794
55920,10s,1,0,3,Male,1,0,Black,Christian_Other,3,55920
55943,20s,3,0,2,Female,1,1,Asian,Christian_Protestant,2,55943
56319,50s,2,0,5,Female,1,2,White,Christian_Other,2,56319
56325,10s,2,0,2,Male,1,1,Asian,Christian_Catholic,3,56325

In [19]:
new=new_data[new_data['engnat']!=0]
new=pd.DataFrame(new)
new['index']=new.index
new_drop=new.drop(["engnat", "familysize", "married", "hand"], axis=1)
new['index']=new.index
new_drop

      age_group  education  gender   race            religion  urban  index
0           30s          2  Female  White               Other      1      0
1           20s          4  Female  Asian               Hindu      3      1
2           30s          3    Male  White               Other      2      2
3           20s          4  Female  Asian               Hindu      3      3
4           20s          3    Male  White            Agnostic      1      4
...         ...        ...     ...    ...                 ...    ...    ...
56910       20s          3  Female  Other  Christian_Catholic      0  56910
56911       10s          2  Female  Asian            Agnostic      2  56911
56912       30s          4    Male  White             Atheist      1  56912
56913       40s          2  Female  White             Atheist      2  56913
56914       20s          4  Female  Asian     Christian_Other      3  56914

[56880 rows x 7 columns]

In [20]:
'''
compare=[]
for j in range(35):
    print(no_reply_drop.iloc[j]["index"])
    cnt1=0
    cnt2=0
    for i in range(56880):  
        cnt=0
        for k in range(6):
            if new_drop.iloc[i].iloc[k]==no_reply_drop.iloc[j].iloc[k]:
                cnt+=1
        if cnt==9:
            if new.iloc[i]['engnat']==1:
                cnt1+=1
            else:
                cnt2+=1
            print(cnt1, cnt2, i)
    if cnt1>cnt2:
        compare.append(1)
    elif cnt1<cnt2:
        compare.append(2)
    else:
        compare.append(0)
        '''

6727
8331
9713
12024
12371
13841
14404
15617
19939
22363
29528
30076
30746
31027
31592
33682
39474
39961
41754
43784
44327
44421
47188
48729
51029
52472
53127
53756
54667
54708
55794
55920
55943
56319
56325

In [20]:
new

,age_group,education,engnat,familysize,gender,hand,married,race,religion,urban,index
0,30s,2,1,4,Female,1,3,White,Other,1,0
1,20s,4,2,3,Female,1,1,Asian,Hindu,3,1
2,30s,3,1,3,Male,1,2,White,Other,2,2
3,20s,4,2,0,Female,1,1,Asian,Hindu,3,3
4,20s,3,1,2,Male,1,2,White,Agnostic,1,4
...,...,...,...,...,...,...,...,...,...,...,...
56910,20s,3,2,3,Female,1,1,Other,Christian_Catholic,0,56910
56911,10s,2,2,1,Female,1,1,Asian,Agnostic,2,56911
56912,30s,4,1,4,Male,1,2,White,Atheist,1,56912
56913,40s,2,1,3,Female,1,2,White,Atheist,2,56913
56914,20s,4,2,2,Female,1,1,Asian,Christian_Other,3,56914

In [23]:
new.engnat.value_counts()/56880*35

1    25.442686
2     9.557314
Name: engnat, dtype: float64

In [21]:
import random

In [25]:
compare=[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2]
random.shuffle(compare)
compare

[1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1]

In [26]:
no_reply['engnat']=compare
no_reply

,age_group,education,engnat,familysize,gender,hand,married,race,religion,urban,index
6727,10s,1,1,3,Male,1,1,White,Christian_Catholic,0,6727
8331,40s,2,2,1,Female,1,3,White,Atheist,3,8331
9713,30s,3,2,2,Male,1,1,Arab,Buddhist,2,9713
12024,10s,2,1,0,Male,1,1,White,Christian_Other,3,12024
12371,50s,3,1,6,Female,1,2,Other,Christian_Protestant,3,12371
13841,40s,4,2,3,Male,1,2,White,Christian_Catholic,1,13841
14404,60s,2,1,3,Female,1,1,White,Jewish,2,14404
15617,+70s,3,1,8,Male,1,2,Asian,Agnostic,3,15617
19939,30s,2,2,10,Male,3,1,Other,Other,2,19939
22363,20s,3,1,7,Female,1,1,Asian,Christian_Catholic,2,22363
29528,40s,2,1,2,Male,1,3,Other,Christian_Other,2,29528
30076,40s,0,2,2,Male,3,3,White,Christian_Catholic,2,30076
30746,20s,3,1,3,Female,1,1,White,Agnostic,0,30746
31027,20s,2,1,0,Male,1,1,White,Atheist,2,31027
31592,50s,4,1,4,Female,1,2,White,Agnostic,1,31592
33682,20s,3,2,4,Male,1,1,White,Christian_Catholic,1,33682
39474,20s,4,2,3,Female,1,1,White,Atheist,3,39474
39961,30s,2,1,2,Male,1,1,Asian,Agnostic,3,39961
41754,10s,3,2,3,Male,1,1,Black,Muslim,2,41754
43784,20s,4,1,2,Male,1,1,Black,Christian_Other,3,43784
44327,10s,2,1,2,Female,2,1,Other,Christian_Other,3,44327
44421,60s,3,1,3,Female,1,2,White,Agnostic,0,44421
47188,10s,1,1,1,Male,1,1,Other,Agnostic,1,47188
48729,60s,3,1,2,Male,1,2,White,Christian_Protestant,0,48729
51029,20s,3,1,2,Female,2,1,White,Other,2,51029
52472,30s,3,1,2,Female,1,3,White,Other,3,52472
53127,20s,2,1,2,Male,1,1,Asian,Hindu,3,53127
53756,30s,4,2,1,Male,1,2,Asian,Other,3,53756
54667,10s,2,1,2,Male,1,1,White,Christian_Protestant,2,54667
54708,60s,3,1,11,Female,1,3,White,Atheist,3,54708
55794,50s,4,1,5,Female,1,3,Black,Christian_Protestant,3,55794
55920,10s,1,1,3,Male,1,0,Black,Christian_Other,3,55920
55943,20s,3,2,2,Female,1,1,Asian,Christian_Protestant,2,55943
56319,50s,2,1,5,Female,1,2,White,Christian_Other,2,56319
56325,10s,2,1,2,Male,1,1,Asian,Christian_Catholic,3,56325

In [27]:
new_data=pd.concat([new, no_reply])
new_data=new_data.sort_values(by=['index'])
new_data=new_data.drop('index', axis=1)
new_data['engnat'].value_counts()

1    41373
2    15542
Name: engnat, dtype: int64

In [28]:
new_data

,age_group,education,engnat,familysize,gender,hand,married,race,religion,urban
0,30s,2,1,4,Female,1,3,White,Other,1
1,20s,4,2,3,Female,1,1,Asian,Hindu,3
2,30s,3,1,3,Male,1,2,White,Other,2
3,20s,4,2,0,Female,1,1,Asian,Hindu,3
4,20s,3,1,2,Male,1,2,White,Agnostic,1
...,...,...,...,...,...,...,...,...,...,...
56910,20s,3,2,3,Female,1,1,Other,Christian_Catholic,0
56911,10s,2,2,1,Female,1,1,Asian,Agnostic,2
56912,30s,4,1,4,Male,1,2,White,Atheist,1
56913,40s,2,1,3,Female,1,2,White,Atheist,2
56914,20s,4,2,2,Female,1,1,Asian,Christian_Other,3